@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #12101c;
    color: #fefffe;
}

p {
    color: rgba(255, 255, 255, 0.6);
}

a {
    cursor: pointer;
    transition: color 0.3s ease;
    color: theme("colors.blue");
    
    &:hover {
        text-decoration: underline;
    }
}

button {
    background-color: #4899FF;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid theme('colors.blue');
    transition: background .3s ease, brightness .3s ease;

    &:hover {
        background-color: darken(#4899FF, 15%);
    }
}

.gradient {
    background: linear-gradient(94deg, theme('colors.green') 39%, theme('colors.blue') 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}