@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #12101c;
    color: #fefffe;
}

p {
}

a {
    cursor: pointer;
    transition: color 0.3s ease;
    color: theme("colors.blue");
    text-decoration: underline;

    &:hover {
        color: darken(#306ee8, 10%);
        text-decoration: none;
    }
}

.gradient {
    background: linear-gradient(94deg, rgba(116,93,197,1) 0%, rgba(48,242,149,1) 49%, rgba(72,153,255,1) 97%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}